.cm-container-white{
    padding-left: 0;
    padding-right: 0;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.container-index{
    padding-left: 20px;
    padding-right: 20px;
}
.page-tool{
    padding: 10px 0;
}
.page-tool-select{
    padding: 10px 0;
    margin-left: 10px;
}
.modal-backdrop{z-index:-99;}
.table-center thead tr th {
    text-align: center;
    vertical-align: center;
}