<link rel="stylesheet" href="/static/jquery.treegrid.min.css">
<script src="/static/bootstrap-table-treegrid.js"></script>
<script src="/static/jquery.treegrid.min.js"></script>
<nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
    <div class="cm-flex">
        <div class="cm-breadcrumb-container">
            <ol class="breadcrumb">
                <li class="active">幻灯片图片</li>
            </ol>
        </div>
    </div>
</nav>
<div class="container-index">
    <div class="page-tool">
        <div class="alert alert-warning" role="alert" style="margin-bottom: 0;padding: 5px;">
            <span class="glyphicon glyphicon-info-sign"></span> 可推荐 <b>【新闻资讯】</b> <b>【志愿活动】</b> <b>【活动报告】</b>,在对应的栏目中点击
            <button type="button" class="btn btn-warning btn-sm" title='推荐到首页幻灯'>
            <span class='glyphicon glyphicon-thumbs-up'></span>推荐
            </button>
            按钮进行推荐操作。<b>【建议总数量3~5】</b>
        </div>
    </div>

    <table id="table_list" class="table table-bordered table-hover  table-center">

    </table>
</div>
<script>
    $(function () {
        table_list();
    });

    function table_list() {
        $('#table_list').bootstrapTable({
            url:'/admin/main/piclist',
            method:'get',
            cache : false,
            dataType : "json",
            striped: true,
            pagination: false,
            search:false,
            columns:[{
                field:'no',
                title:'序号',
                width:50,
                align:'center',
                valign:'center',
            },{
                field:'title',
                title:'标题'
            },{
                field:'path',
                title:'图片',
                formatter:picFormatter
            },{
                field:'type_format',
                title:'类型'
            },{
                field:'modify_time_format',
                title:'添加时间'
            },{
                field:'id',
                title:'操作',
                width:150,
                align:'center',
                valign:'center',
                formatter:actionFormatter
            }
            ]
        });
    }
    function actionFormatter(value, row, index) {
        var id = value;
        var result = "";
        // result += "<a href='javascript:;' class='btn btn-xs btn-info' onclick=\"editView('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>&nbsp;&nbsp;";
        result += "<a href='javascript:;' class='btn btn-xs btn-danger' onclick=\"delView('" + row.val_id + "','"+row.title+"','"+row.type+"')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }

    function picFormatter(value) {
        return "<img src='"+value+"' class=\"img-thumbnail\" width='300'>";
    }

    function delView(id,title,type) {
        if(confirm('删除不可恢复,确认删除？')){
            $.ajax({
                type : "post",
                url : "/admin/main/recommendcancel",
                data:{id:id,type:type,title:title},
                dataType : 'json',
                async:false,
                success : function(result) {
                    if (result.code==200){
                        $('#table_list').bootstrapTable('refresh');
                    }else{
                        alert(result.msg);
                        return false;
                    }
                },
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        }
    }
</script>