<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrapValidator.css"/>
    <link rel="stylesheet" type="text/css" href="/static/qx.css">
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/dist/js/language/zh_CN.js"></script>
    <script src="/assets/js/jquery.mousewheel.min.js"></script>
    <script src="/assets/js/jquery.cookie.min.js"></script>
    <script src="/assets/js/fastclick.min.js"></script>
    <script src="/assets/js/clearmin.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <script src="/static/bootstrap-table.min.js"></script>
    <script src="/static/bootstrap-table-zh-CN.min.js"></script>

    <title>后台管理</title>
    <script>
        // $(document).ready(function() {
        //     var path = window.location.pathname;
        //     $(".cm-menu-items li").each(function(){
        //         var cu_path=$(this).find('a').attr('href');
        //         if (path==cu_path){
        //             $(this).parents('.cm-submenu').addClass('open').siblings().removeClass('open');
        //             $(this).addClass('active').siblings().removeClass('active');
        //         }
        //     });
        // })

    </script>
</head>

<body class="cm-no-transition cm-1-navbar">

    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex">
                <a href="/admin/main/index" class="cm-logo" style="background:url('/assets/img/logo-svg.svg') no-repeat 15px center transparent;display: block;height: 50px"></a>
            </div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li <?php prePathSelect(['admin/main/index'])?>><a href="/admin/main/index" class="sf-house">首页</a></li>
                        <li <?php prePathSelect(['admin/news/index','admin/news/add'])?>><a href="/admin/news/index" class="sf-post-it">新闻管理</a></li>
                        <li <?php prePathSelect(['admin/user/index'])?>><a href="/admin/user/index" class="sf-user-female">人员管理</a></li>
                        <li <?php prePathSelect(['admin/team/type'])?>><a href="/admin/team/type" class="sf-profile-group">团队管理</a></li>
                        <li class="cm-submenu <?php if(pathSelect('active')) echo 'pre-open' ?>" >
                            <a class="sf-star">活动管理 <span class="caret"></span></a>
                            <ul>
                                <li <?php prePathSelect(['admin/active/type'])?>><a href="/admin/active/type">活动类型</a></li>
                                <li <?php prePathSelect(['admin/active/time'])?>><a href="/admin/active/time">活动时长</a></li>
                                <li <?php prePathSelect(['admin/active/active','admin/active/user','admin/active/report'])?>><a href="/admin/active/active">志愿活动</a></li>
                            </ul>
                        </li>
                        <li class="cm-submenu <?php if(pathSelect('sys')) echo 'pre-open' ?>">
                            <a class="sf-wrench-screwdriver">系统管理<span class="caret"></span></a>
                            <ul>
                                <li <?php prePathSelect(['admin/sys/keywords'])?>><a href="/admin/sys/keywords">敏感字过滤</a></li>
                                <li <?php prePathSelect(['admin/sys/logs'])?>><a href="/admin/sys/logs">系统日志</a></li>
                                <li <?php prePathSelect(['admin/sys/index'])?>><a href="/admin/sys/index">管理员</a></li>
                                <li <?php prePathSelect(['admin/sys/statistic'])?>><a href="/admin/sys/statistic">统计</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">

        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex"></div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>{$Think.session.username}</strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/out"><i class="fa fa-fw fa-sign-out"></i>退出</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="global" >
        <div class="container-fluid">
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-body" style="min-height: 200px;">
            {__CONTENT__}
                </div>
            </div>
        </div>
        <footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">© </span></footer>
    </div>

</body>
</html>
