<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrapValidator.css"/>
    <link rel="stylesheet" type="text/css" href="/static/qx.css">
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/dist/js/language/zh_CN.js"></script>
    <script src="/assets/js/jquery.mousewheel.min.js"></script>
    <script src="/assets/js/jquery.cookie.min.js"></script>
    <script src="/assets/js/fastclick.min.js"></script>
    <script src="/assets/js/clearmin.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <script src="/static/bootstrap-table.min.js"></script>
    <script src="/static/bootstrap-table-zh-CN.min.js"></script>

    <script src="/vendor/fileinput/js/fileinput.min.js"></script>
    <link rel="stylesheet" href="/vendor/fileinput/css/fileinput.min.css">
    <script src="/vendor/fileinput/js/locales/zh.js"></script>
    <title>后台管理</title>
    <script>
        // $(document).ready(function() {
        //     var path = window.location.pathname;
        //     $(".cm-menu-items li").each(function(){
        //         var cu_path=$(this).find('a').attr('href');
        //         if (path==cu_path){
        //             $(this).parents('.cm-submenu').addClass('open').siblings().removeClass('open');
        //             $(this).addClass('active').siblings().removeClass('active');
        //         }
        //     });
        // })

    </script>
</head>

<body class="cm-no-transition cm-1-navbar">

    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex">
                <a href="/admin/main/index" class="cm-logo" style="background:url('/assets/img/logo-svg.svg') no-repeat 15px center transparent;display: block;height: 50px"></a>
            </div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li <?php prePathSelect(['admin/main/index'])?>><a href="/admin/main/index" class="sf-house">首页幻灯</a></li>
                        <li <?php prePathSelect(['admin/news/index','admin/news/add'])?>><a href="/admin/news/index" class="sf-post-it">新闻管理</a></li>
                        <li <?php prePathSelect(['admin/user/index'])?>><a href="/admin/user/index" class="sf-user-female">人员管理</a></li>
                        <li <?php prePathSelect(['admin/team/type'])?>><a href="/admin/team/type" class="sf-profile-group">团队管理</a></li>
                        <li class="cm-submenu <?php if(pathSelect('active')) echo 'pre-open' ?>" >
                            <a class="sf-star">活动管理 <span class="caret"></span></a>
                            <ul>
                                <li <?php prePathSelect(['admin/active/type'])?>><a href="/admin/active/type">活动类型</a></li>
                                <li <?php prePathSelect(['admin/active/time'])?>><a href="/admin/active/time">活动时长</a></li>
                                <li <?php prePathSelect(['admin/active/active','admin/active/user','admin/active/report','admin/active/edit'])?>><a href="/admin/active/active">志愿活动</a></li>
                            </ul>
                        </li>
                        <li class="cm-submenu <?php if(pathSelect('sys')) echo 'pre-open' ?>">
                            <a class="sf-wrench-screwdriver">系统管理<span class="caret"></span></a>
                            <ul>
                                <li <?php prePathSelect(['admin/sys/keywords'])?>><a href="/admin/sys/keywords">敏感字过滤</a></li>
                                <li <?php prePathSelect(['admin/sys/statistic'])?>><a href="/admin/sys/statistic">数据统计</a></li>
                                <li <?php prePathSelect(['admin/sys/logs'])?>><a href="/admin/sys/logs">系统日志</a></li>
                                <li <?php prePathSelect(['admin/sys/index'])?>><a href="/admin/sys/index">管理员</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">

        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex"></div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>{$Think.session.username}</strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/out"><i class="fa fa-fw fa-sign-out"></i>退出</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="global" >
        <div class="container-fluid">
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-body" style="min-height: 200px;">
            {__CONTENT__}
                </div>
            </div>
        </div>
        <footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">© </span></footer>
    </div>

    <div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-large" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="recommendLabel">推荐到首页幻灯</h4>
                </div>
                <form id="addHomePic" method="post" action="/admin/main/recommendsave" enctype="multipart/form-data">
                    <div class="modal-body" style="min-height: 450px;">

                        <div class="form-group" >
                            <label>标题:</label>
                            <div >
                                <input type="text" class="form-control" name="recommend_title" id="recommend_title" maxlength="200">
                                <input type="hidden" name="recommend_old_title" id="recommend_old_title">
                                <input type="hidden" name="recommend_id" id="recommend_id">
                                <input type="hidden" name="recommend_type" id="recommend_type">
                            </div>
                        </div>
                                    <div class="form-group" >
                                        <label class="control-label">缩略图:</label>
                                        <div>
                                            <input id="homepicfile" type="file" name="homepicfile" class="form-control">
                                        </div>
                                    </div>
                        <div class="form-group">
                            <label for="sort" class="control-label">排序:</label>
                            <div >
                            <input type="text" class="form-control" name="sort" id="sort" value="0" maxlength="3">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade text-center" id="recommendTip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm " >
            <div class="modal-content">
                <div class="modal-body" style="padding: 0;">
                    <div class="alert alert-success" style="margin-bottom: 0;text-align: center;">
                        <span class="glyphicon glyphicon-ok"></span> <span>操作成功</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            homeformvalidator();
        })
        function recommendView(id,title,type) {
            $('#recommend_old_title').val(title);
            $('#recommend_title').val(title);
            $('#recommend_id').val(id);
            $('#recommend_type').val(type);
            $('#recommend').modal('show');
        }

        function recommendCancelView(id,type){
            if(confirm('取消不可恢复,确认取消推荐？')){
                $.ajax({
                    type : "post",
                    url : "/admin/main/recommendcancel",
                    data:{id:id,type:type},
                    dataType : 'json',
                    async:false,
                    success : function(result) {
                        if (result.code==200){
                            if (type=='report'){
                                location.reload();
                            }else{
                                $('#table_list').bootstrapTable('refresh');
                            }

                        }else{
                            alert(result.msg);
                            return false;
                        }
                    },
                    error : function(e){
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                });
            }
        }

        $("#homepicfile").fileinput({
            uploadUrl:"/admin/main/upload", //接受请求地址
            uploadExtraData:{'id':$('#id').val()}, //自定义参数
            uploadAsync : true, //默认异步上传
            showUpload : false, //是否显示上传按钮,跟随文本框的那个
            showRemove : false, //显示移除按钮,跟随文本框的那个
            showCaption : false,//是否显示标题,就是那个文本框
            showPreview : true, //是否显示预览,不写默认为true
            showClose:false,
            dropZoneEnabled : false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount : 1, //表示允许同时上传的最大文件个数
            enctype : 'multipart/form-data',
            validateInitialCount : true,
            previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany : "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            allowedFileTypes : [ 'image' ],//配置允许文件上传的类型
            allowedPreviewTypes : [ 'image' ],//配置所有的被预览文件类型
            allowedPreviewMimeTypes : [ 'jpg','png','gif' ],//控制被预览的所有mime类型
            language : 'zh',
            overwriteInitial:false,//是否在选择新图片时，把之前的预设图片删除掉
            removeFromPreviewOnError:true, //当选择的文件不符合规则时，例如不是指定后缀文件、大小超出配置等，选择的文件不会出现在预览框中，只会显示错误信息
            initialPreview:'',//预览图片img
            initialPreviewAsData: true,
            initialPreviewConfig:'',
            layoutTemplates :{
                // actionDelete:'', //去除上传预览的缩略图中的删除图标
                actionMove:'',
                actionUpload:'',//去除上传预览缩略图中的上传图片；
                // actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
            },
        })

        function homeformvalidator() {
            $('#addHomePic').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    recommend_title: {
                        message: '',
                        validators: {
                            notEmpty: {
                            },
                            stringLength: {
                                min: 1,
                                max: 200,
                                message:''
                            }
                        }
                    },
                    sort: {
                        message: '',
                        validators: {
                            notEmpty: {
                            },
                            digits:{

                            },
                            stringLength: {
                                min: 1,
                                max: 3,
                                message:''
                            }
                        }
                    }
                }
            }).on('success.form.bv', function(e) {
                $("#homepicfile").fileinput("upload");
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('bootstrapValidator');
                $.post($form.attr('action'), $form.serialize(), function(result) {
                    console.log(result);
                    if (result.code==200) {
                        $('#recommendTip').modal('show');
                        setTimeout(function(){
                            $('#recommendTip').modal('hide');
                            location.reload();
                        }, 2000);


                    }else{
                        alert('保存错误');
                        bv.resetForm();
                        return;
                    }
                }, 'json');
            });
        }
    </script>
</body>
</html>
