<link rel="stylesheet" href="/static/jquery.treegrid.min.css">
<script src="/static/bootstrap-table-treegrid.js"></script>
<script src="/static/jquery.treegrid.min.js"></script>
<div class="container-index" style="padding-top: 20px;">

    <table id="table_list" class="table table-bordered table-hover  table-center" >

    </table>



</div>
<script>
    $(function () {
        table_list();
    });
    function table_list() {
        $('#table_list').bootstrapTable({
            url:'/admin/sys/logsdata',
            method:'get',
            cache : false,
            dataType : "json",
            striped: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            sidePagination: "server",
            columns:[{
                field:'no',
                title:'序号',
                width:50,
                align:'center',
                valign:'center',
            },{
                field:'content',
                title:'日志'
            },{
                field:'create_time',
                title:'时间',
                width:200,
                align:'center',
                valign:'center',
            }
            ]
        });
    }
</script>