
<link href="/static/select_date/daterangepicker.css" rel="stylesheet">
<script src="/static/select_date/moment.min.js"></script>
<script src="/static/select_date/daterangepicker.min.js"></script>

<div class="container-index" style="margin-top: 20px">
    <div style="margin-bottom: 20px;">
        <form id="addForm" method="post"  class="form-inline">
            <div class="form-group">
                <label>起止日期:</label>
                <div class='input-group date' >
                    <input type='text' class="form-control" name="selectDate" id="selectDate" readonly style="width:180px;"/>
                </div>
            </div>

            <div class="form-group">
                <label for="type_select" class="control-label">类型:</label>
                <select class="form-control" name="type_select" id="type_select" >
                    <option value="team">单位</option>
                    <option value="user">人员</option>
                </select>
            </div>
            <div class="form-group">
                <label>关键字:</label>
                <div class='input-group date' >
                    <input type='text' class="form-control" name="searchKey" id="searchKey" placeholder="输入单位名称"/>
                </div>
            </div>
            <div class="form-group" style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="submitForm();">  查询 </button>
            </div>
            <div class="form-group pull-right" style="text-align: center">
<!--                <button type="button" class="btn btn-primary">  导出结果 </button>-->
            </div>
        </form>
    </div>


    <table id="table_list" class="table table-bordered table-hover  table-center" >

    </table>
</div>

<script>
    $(function () {
        var locale = {
            "format": 'YYYY-MM-DD',
            "separator": " - ",
            "applyLabel": "确定",
            "cancelLabel": "取消",
            "fromLabel": "起始时间",
            "toLabel": "结束时间'",
            "customRangeLabel": "自定义",
            "weekLabel": "W",
            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            "firstDay": 1
        };
        $('#selectDate').daterangepicker({
            'locale': locale,
            ranges: {
                '今日': [moment(), moment()],
                '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '最近7日': [moment().subtract(6, 'days'), moment()],
                '最近30日': [moment().subtract(29, 'days'), moment()],
                '本月': [moment().startOf('month'), moment().endOf('month')],
                '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month')
                    .endOf('month')
                ]
            },
            "alwaysShowCalendars": true,
            "startDate": new Date(),
            "endDate": new Date(),
            "opens": "right",
        }, function (start, end, label) {
            // console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });
    })

    function submitForm() {
        var columnsArray=[];
        var s=$('#type_select').val();
        if (s=='team'){
            columnsArray=[
                {title:'序号',field:'no',width:50,align:'center',valign:'center',},
                {title:'名称',field:'name'},
                {title:'发起活动总数',field:'count'},
                {title:'人员总数',field:'userCount'},
            ];
        }
        if (s=='user'){
            columnsArray=[
                {title:'序号',field:'no',width:50,align:'center',valign:'center',},
                {title:'姓名',field:'real_name'},
                {title:'参与活动总数',field:'count'},
            ];
        }
        table_list(columnsArray);
    }

    function table_list(columnsArray) {
        $('#table_list').bootstrapTable('destroy').bootstrapTable({
            url:'/admin/sys/statisticsearch?selectDate='+$('#selectDate').val()+'&type_select='+$('#type_select').val()+'&searchKey='+$('#searchKey').val(),
            method:'get',
            cache : false,
            dataType : "json",
            striped: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            sidePagination: "server",
            columns:columnsArray
        });
    }

    $('#type_select').on('change',function () {
        if ($(this).val()=="user"){
            $('#searchKey').attr('placeholder','请输入人员姓名');
        }
        if ($(this).val()=="team"){
            $('#searchKey').attr('placeholder','请输入单位名称');
        }
    })
</script>
