
<link href="/static/select_date/daterangepicker.css" rel="stylesheet">
<script src="/static/select_date/moment.min.js"></script>
<script src="/static/select_date/daterangepicker.min.js"></script>

<div class="container-index" style="margin-top: 20px">
    <form id="addForm" method="post"  class="form-inline">
        <div class="form-group">
            <label>起止日期:</label>
            <div class='input-group date' >
                <input type='text' class="form-control" name="selectDate" id="selectDate" readonly style="width:180px;"/>
            </div>
        </div>

        <div class="form-group">
            <label for="type_select" class="control-label">类型:</label>
            <select class="form-control" name="type_select" id="type_select">
                <option value="active">志愿活动</option>
                <option value="report">活动报告</option>
                <option value="user">人员</option>
                <option value="team">单位</option>
            </select>
        </div>
        <div class="form-group" style="text-align: center">
            <button type="button" class="btn btn-primary" onclick="submitForm();">  查询 </button>
        </div>
        <div class="form-group pull-right" style="text-align: center">
            <button type="button" class="btn btn-primary">  导出结果 </button>
        </div>
    </form>


    <table id="table_list" class="table table-bordered table-hover  table-center">

    </table>
</div>

<script>
    $(function () {
        var locale = {
            "format": 'YYYY-MM-DD',
            "separator": " - ",
            "applyLabel": "确定",
            "cancelLabel": "取消",
            "fromLabel": "起始时间",
            "toLabel": "结束时间'",
            "customRangeLabel": "自定义",
            "weekLabel": "W",
            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            "firstDay": 1
        };
        $('#selectDate').daterangepicker({
            'locale': locale,
            ranges: {
                '今日': [moment(), moment()],
                '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '最近7日': [moment().subtract(6, 'days'), moment()],
                '最近30日': [moment().subtract(29, 'days'), moment()],
                '本月': [moment().startOf('month'), moment().endOf('month')],
                '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month')
                    .endOf('month')
                ]
            },
            "alwaysShowCalendars": true,
            "startDate": new Date(),
            "endDate": new Date(),
            "opens": "right",
        }, function (start, end, label) {
            // console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });
    })

    function submitForm() {

        table_list();
    }

    function table_list() {
        var s=$('#selectDate').val();
        $('#table_list').bootstrapTable({
            url:'/admin/sys/statisticsearch?selectDate='+s+'&type_select='+$('#type_select').val(),
            method:'get',
            data:{selectDate:s,type_select:$('#type_select').val()},
            cache : false,
            dataType : "json",
            striped: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            sidePagination: "server",
            success:function (json) {
                // var columnsArray = [];
                // for (var i = 0; i < (Object.keys(json[0])).length; i++) {
                //     var property = (Object.keys(json[0]))[i];
                //     columnsArray.push({
                //         "title": property,
                //         "field": property,
                //         switchable: true,
                //         sortable: true
                // });
                // }
                console.log(json)
            }
            // columns:[{
            //     field:'no',
            //     title:'序号',
            //     width:50,
            //     align:'center',
            //     valign:'center',
            // },{
            //     field:'username',
            //     title:'用户名'
            // },{
            //     field:'level_name',
            //     title:'级别'
            // },{
            //     field:'team',
            //     title:'所属单位'
            // },{
            //     field:'create_time',
            //     title:'创建时间',
            //     width:200,
            //     align:'center',
            //     valign:'center',
            // },{
            //     field:'id',
            //     title:'操作',
            //     width:120,
            //     align:'center',
            //     valign:'center',
            //     formatter:actionFormatter
            // }
            // ]
        });
    }
</script>
